.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root{
  /* background-color: #635C5C; */
  background-size: contain;
  background-repeat: repeat;
  background-color: #635C5C;
  min-height: 1000px;
}

.container{
  margin: 5% !important;
  background-color:#C5DCF1;
   /* opacity: 0.6; */
  color: black;
  flex-wrap: wrap;
}

.Button{
  margin-top: 5%;
  margin-bottom: 5%;
}

.Buttons {
  margin-left: 90%;
  margin-bottom: 2%;
}

.sb{
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

span.ingredient {
  color: #f00;
  font-size: 2em;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.productList {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  
}

h1 {
  text-align: center;
}

.ul {
  display: flex;
  justify-content: space-between;
}

.intro {
  text-align: center;
}

.productElement{
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  border: 1px solid white;
}
.description{
  flex:60%;
  margin-left: 20%;
}

.productList img{
  cursor: pointer;
}

.select{
  margin-right: 20%;
}